.home-background {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: url("/static/images/background.jpg");
  text-align: center;
  filter: blur(3px);
  z-index: -100;
}

.search-content {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 0;
}

.content {
  margin-top: 94px;
  padding: 30px;
}
