{% extends 'base.html' %}

{% load static %}

{% block title %} Where2Med {% endblock %}

{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/home_page.css' %}"
/>
{% endblock %} {% block content %}
<div class="home-background"></div>
<div class="search-content">
  <div class="content">
    <h1>“Better treatment, less steps”</h1>
    <br/>
    <br/>
    <h4>Find a specialist and get an appointment</h4>
    <form method="GET" action="{% url 'search_page' %}">
      <div class="form-row">
        <div class="col">
          <input
            class="form-control"
            type="text"
            placeholder="Treatment"
            autofocus
          />
        </div>
        <div class="col">
          <input class="form-control" type="text" placeholder="City" />
        </div>
        <div class="col">
          <button class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
